
/* FORMULARIO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container {
    /* display: grid; */
    display: grid;


    background-color: #f5f3f3;
    padding: 5px 0px;

}
#container h3 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 20px;
}

#container form {
    max-width: 100%;
    margin: 0 auto;
    
}
/*  */
H1 {
    text-align: center;
    padding: 20px;
}
form {
    background-color: aliceblue;
    margin:10px auto ; 
    width: 800px; 
    padding: 20px;
    
}


form label{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    border-radius: 5px;
    padding: 10px 5px;
    outline: 0;
    width: 100%;
}
form input:focus,
form textarea:focus {
    background-color: #a5a4a4;
} 

